.footer {
    margin: 67px 0 0 0;
    max-width: 880px;
    width: 100%;
    display: flex;
    justify-self: center;
}

.footer__copyright {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: rgba(84, 84, 84, 1);
    margin: 0 0 60px 0;
}

@media screen and (min-width: 728px) and (max-width: 1024px) {
    .footer {
        width: 581px;
        box-sizing: border-box;
        margin: 50px 0 0 0;
    }
    .footer__copyright {
        width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 728px) {
    .footer {
        width: 282px;
        box-sizing: border-box;
        margin: 50px 0 0 0;
    }

}